<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QUESTIONS</title>
    <!-- bootstrap  link-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- css file -->
    <link rel="stylesheet" href="home.css">

    <!-- bootstrap script link -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Grenze:ital,wght@1,100&display=swap" rel="stylesheet">
</head>
<body class="start-body" style="overflow-x: hidden;color: black;">
  <nav class="navbar navbar-expand-lg navbar-light nav-bg p-3">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <li class="nav-item pl-2 pr-2">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item pl-2 pr-2">
          <a class="nav-link" href="/qus">Post Question</a>
        </li>
        <li class="nav-item pl-2 pr-2">
          <a class="nav-link" href="/start">Questions</a>
        </li>
      </ul>
    </div>
  </nav>
    <h2 class="qtitle">You must be allowed to set questions with only 3 options per question</option></h2>
    <form action="/qus" method="POST">
    <div>
    <p class="qus">Enter your Question Here : </p><div class="qdiv"><textarea name="qus" cols="170" rows="3" class="qinput form-control" ></textarea>
    </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 qdivopt"><textarea name="opt1" cols="25" rows="1" placeholder="OPTION 1" class="qopt"></textarea></div>
        <div class="col-lg-4 col-md-6 col-sm-12 qdivopt"><textarea name="opt2" cols="25" rows="1" placeholder="OPTION 2" class="qopt"></textarea></div>
        <div class="col-lg-4 col-md-6 col-sm-12 qdivopt"><textarea name="opt3" cols="25" rows="1" placeholder="OPTION 3" class="qopt"></textarea></div>
    </div>
    <p class="qcrt">CORRECT ANSWER:<textarea name="crtans" cols="25" rows="1" placeholder="correct answer" class="qcrt1"></textarea></p>
    <div>
      <p class="qus">Enter your Explaination Here : </p><div class="qdiv"><textarea name="explain" cols="170" rows="3" class="qinput form-control" ></textarea>
      </div>
      </div>
    <button class="btn btn-dark btn-lg qbutton mb-5" type="submit">Post Question</button>
</form>
</body>
</html>